<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
  box-sizing: border-box;
}

header{
  height:100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1610917878646-4704f0620d59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
  background-size: cover;
  background-position: center center;
  position: relative;
}

header::after {
  content: '';
  background-color:#000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

header * {
  position: relative;
  z-index: 1;
}

body {
  background-color: #DEFFFE; /*#D3D3D3;*/
  font-family: 'Open Sans', sans-serif;
  MARGIN:0;
}

nav{
  background-color: #fcf0cc;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  MARGIN:0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:100;
}

nav a {
  color:#000000;
  position: relative;
  margin-left:20px;
  text-decoration: none;
}

nav a::after{
  content: '';
  border-bottom: 3px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

nav a:hover::after{
  opacity: 1;
  transform: translateY(0);
}

footer {
  background-color: #ECECEC;
  padding: 10px;
  text-align:center;
}

footer .fa-heart {
  color: red;
}

header h1{
  font-size:50px;
}

header p{
  font-size:20px;
}

section{
  text-align: center;
  padding: 20px;
}

section h2{
  margin-bottom: 0;
}

section p{
  margin-top: 0;
}


.social-class{
  background-size: cover;
  background-position: center center;
  background-color: #D3D3D3;
}


.social-url{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  paddig: 0;
  margin: 0;
}

.social-url a{
  color: #fff;
  font-size: 40px;
  margin: 5px 20px;
}

.projects-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 20px auto 0;
}

.project-tile {
  max-width: 250px;
  margin: 10px ;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.project-tile img{
  max-width: 100%;
}

.project-tile:hover{
  transform: scale(1.1);
}

.project-tile p{
  color: #000000;
  font-size: 15px;
  margin-top: 10px;
}

@media (max-width: 440px) {
  section{
    padding: 20px;
  }
}

</style>
